<h1>Statics#index</h1>
Esta es la vista inicial


<% if !current_admin %>
  <%= link_to 'sign in', new_admin_session_path %>
<% end %>



<% if current_admin %>
  <!-- true -->
  <%= link_to 'panel de adminstrador', dashboard_path %>
<% end %>
